:root{
    --bol-lightgrey: #D9D9D9;
    --bol-lightgrey: #47ADF1;
    --bol-lightgrey: #45ABEA;
    --bol-lightgrey: #9C72E4;
    --bol-lightgrey: #64C0A9;
    --bol-lightgrey: #F29E33;
    --bol-lightgrey: #D863A1;
    --bol-lightgrey: #B0C926;
}











