:root{
    --bol-lightgrey: #F6F8F9;
    --bol-blue: #47ADF1;
    --bol-bluelite: #45ABEA;
    --bol-violet: #9C72E4;
    --bol-ligthgreen: #64C0A9;
    --bol-orange: #F29E33;
    --bol-pink: #D863A1;
    --bol-fluogreen: #B0C926;
}

*{
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, sans-serif;
}

body{
    background-color: #F6F8F9;
}

/* header */
header{
    height: 40%;
    vertical-align: middle;
    background-color: white;
}

span{
    font-size: 2rem;
    font-weight: bold;
}

/* main */
main{
    background-color: white;
    width: 70%;
    margin: auto;
}

/* section button */
.button-add{
    margin-top: 3rem;
    padding-top: 1rem;
    padding-left: 3rem;
    padding-bottom: 1rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.button{
    background-color: #45ABEA;
    color: #f0f0f0;
    border: none;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

#add-task{
    background-color: #45ABEA;
    color: #f0f0f0;
    margin-right: 0.3rem;
}

#add-section{
    background-color: white;
    color:lightgray;
    border: 0.1rem solid lightgray;
}














