:root{
    --bol-lightgrey: #D9D9D9;
    --bol-blue: #47ADF1;
    --bol-bluelite: #45ABEA;
    --bol-violet: #9C72E4;
    --bol-ligthgreen: #64C0A9;
    --bol-orange: #F29E33;
    --bol-pink: #D863A1;
    --bol-fluogreen: #B0C926;
}

*{
    font-family: Arial, sans-serif;
}

/* header */
header{
    height: 40%;
    vertical-align: middle;
}

span{
    font-size: 2rem;
    font-weight: bold;
}

/* main */














